/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.75em;
  background: /*#F0F0F0*/ #EEF;
  border: 1px solid black;
  box-shadow: 2px 2px 2px #00007777;
  border-radius: 8px;
  margin-bottom: 2em;
  margin-top: 2em;
}


/* Base color: saturation 0; */

.hljs,
.hljs-subst {
  color: /*#444*/ #335;
}

.hljs-comment {
  color: #7711FF;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(100,100,200,0.3);
}


/* User color: hue: 0 */

.hljs-number
{
	color: blue;
}

.hljs-type,
.hljs-string,
/*.hljs-number,*/
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: /*#880000*/ #78F;
}

.hljs-title,
.hljs-section {
  color: #880000;
  text-shadow: 0 0 10px #990000DD;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}


/* Language color: hue: 90; */

.hljs-literal {
  color: #78A960;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
